<h1>Detalhes da Venda</h1>

<p>ID: <%= venda.id %></p>
<p>Data: <%= venda.data.toISOString().split('T')[0] %></p>
<p>Valor: <%= venda.valor %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Produto: <%= venda.nome_produto %></p>

<a href="/vendas" class="btn btn-primary">Voltar para a lista</a>
